body{
    background-color: rgba(0, 0, 0, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

/* login  form ............. */
form{
    position: relative;
    width: 50%;
    max-height: 500px;
    min-height: 500px;
    min-width: 380px;
    max-width: 430px;
    justify-content: center;
    padding: 2%;
    border: 2px solid aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* box-shadow: 1px 1px 40px aqua; */
   animation: glow 20s infinite;
    border-radius: 10%;
    z-index: 1;
    
}
h2{
    color: white;
    margin-top: 2%;
}
.f1 ,.f2 ,.f3 {
    position: relative;
  
    color: white;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    margin-bottom: 10%;
   
   
}
label{
    
    padding-bottom: 2%;
}

.fa-user , .fa-lock{
    position: absolute;
    left: 1%;
    top: 65px;
    height: 30px;
    color: #00f0d4;
}

.fa-lock{
    top: 68px;
}
input{
    font-size: large;
    width: 90%;
    min-width: 150px;
    padding-left: 10%;
    height: 30px;
    outline: none;
    border: 2px solid aqua;
    font-size: larger;
    font-weight: bolder;
   
    
}

right_input{
    border: 2px solid aqua;
    box-shadow: 1px 1px 20px aqua;
    transition-duration: .2s;
}

.rong_input{
    border:  2px solid red;
    box-shadow: 1px 1px 20px red;
    transition-duration: .2s;
}

input[type="submit"]{
    position: relative;
    background-color: aqua;
    width: 25%;
    min-width: 100px;
    max-width: 200px;
    height: 40px;
    cursor: pointer;
    border-radius: 10%;

    animation: glow 20s infinite;
   
}




/* input[type="submit"]:hover{
    transform: translateX(-100px);
} */
@keyframes glow {
    0% ,100%{
        box-shadow: 1px 1px 5px rgb(13, 172, 172);
        border-radius:50% 50% 50% 50% ;
    }
    20%{
        box-shadow: 1px 1px 20px rgb(13, 172, 172);
        border-radius:0% 0% 0% 0% ;
    }

    50%{
        box-shadow: 1px 1px 60px rgb(13, 172, 172);
        border-radius:50% 50% 50% 50% ;
    }

    80%{
        box-shadow: 1px 1px 100px rgb(13, 172, 172);
        border-radius:0% 0% 0% 0% ;
    }
}



  /*  */
